# Copyright 2025 Dotanuki Labs
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Project Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check typos on source files
        uses: crate-ci/typos@bb4666ad77b539a6b4ce4eda7ebb6de553704021 # v1.42.0

      - name: Check MIT license on source files
        uses: korandoru/hawkeye@8a5eee90ee67f37a3306ef064585fb45adc26753 # v6.4.0

  checks:
    runs-on: ubuntu-24.04
    needs: lint

    steps:
      - name: Project Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run E2E tests
        run: ./e2e/run.sh
